
/* General */
* {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto",sans-serif;
  font-size: 15px;

}

html{
  /* Height de 100% pour la couleur du fond */
  height: 100%;
}

body {
  color:black;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}




/* Formulaire ENTIER*/
.FullForm {
  width: 50%;
  height: 70vh;
  margin: 5% auto;
  display: table;

  border-radius: 25px;
  overflow: hidden;

}


/* Image du Formulaire */
.ImageForm {
  background: url("../IMG/form-photo-portrait.jpg") top   left/cover no-repeat;
  position: relative;

  width: 45%;
  height: 100%;
  display: table-cell;
}


/* Formulaire */
.Form {
  background-color: white ;
  width: 100%;
  display: table-cell;
  background-color: black;
}

input, textarea {
  border-style:hidden;
  border-bottom: 1px #ccc solid;
  color: #ccc;
  background-color: black;
  display: block;
  margin: 2% auto;
 
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10px; 
}

input:focus{
  outline: none;
}

input:hover{
  border-bottom: red 1px solid;
}

textarea {
  font-style: normal;
}
::placeholder {
  font-style: normal;
  font-size: 1em;
}


.bouttons {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;

} 

button {  
  width: 25%;
  padding: 0.5em;
  margin: 0.5em;
  
  border-style: none;
  border-radius: 20px;
}



/* Pied de page */
footer {
  background-color: #1d1d1d;
  text-align: right;
  color: white;
  padding: 1.1em;
  position: fixed;
  bottom: 0px;
  width: 100%;

}
footer p{
  margin-right: 5%;
}


@media all and (max-width: 767px){
  .FullForm{
    width: 90%;
  }
  .ImageForm{
    display: table-row;
  }
  .Form{
    display: table-row;
  }
}